# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3

# Environnements
venv/
.venv/
.env
.env.*

# Django
db.sqlite3
*.log
media/
static/
staticfiles/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

bulletins/*.pdf
tenant_*/